.banner {
    position: relative;
    min-height: 51rem;
    width: 100%;
    overflow: hidden;
    margin: 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
        position: absolute;
        inset: 0;
        object-fit: cover;

    }

    &__content {
        position: absolute;
        z-index: 2;
        color: var(--emptiness);
        text-align: center;
        padding: 3rem;

        &--title {
            font-size: 3.2rem;
            margin-bottom: 1.6rem;
        }

        &--text {
            font-size: 1.8rem;
            max-width: 48ch;
        }
    }




    &__overlay {
        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: var(--forestry);
        opacity: 0;
    }

    &__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: var(--emptiness);
    }
}

@media screen and (min-width: 768px) {
    .banner {
        align-items: center;
        clip-path: polygon(5% 10%, 95% 10%, 95% 90%, 5% 90%); //https://bennettfeely.com/clippy/
        &__content {   padding: 6rem;
            &--title {
                font-size: 6.4rem;
                margin-bottom: 1.6rem;
            }

            &--text {
                font-size: 2.4rem;
                max-width: 48ch;
            }
        }

    }
}